<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment :: head">
</head>
<body>

<div class="container">

    <div th:replace="fragment :: nav"></div>

    <div class="row">
        <div class="col-xs-6">
            <h1 class="transport-type">Автобусы</h1>
            <h3>
                <a href="#">1</a>
            </h3>
            <h3>
                <a href="#">2</a>
            </h3>
            <h3>
                <a href="#">3</a>
            </h3>
            <h3>
                <a href="#">4</a>
            </h3>
            <h3>
                <a href="#">5</a>
            </h3>
            <h3>
                <a href="#">6</a>
            </h3>
            <h3>
                <a href="#">7</a>
            </h3>
            <h3>
                <a href="#">8</a>
            </h3>
            <h3>
                <a href="#">9</a>
            </h3>
            <h3>
                <a href="#">10</a>
            </h3>
            <h3>
                <a href="#">11</a>
            </h3>
            <h3>
                <a href="#">14</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
        </div>
        <div class="col-xs-6">
            <h1 class="transport-type">Троллейбусы</h1>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
            <h3>
                <a href="#">12</a>
            </h3>
        </div>
    </div>


</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>