<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:include="fragment :: head">
</head>
<body>
<div class="container">
    <div th:replace="fragment :: nav"></div>
    <h1 sec:authentication="name"></h1>
    <h3>Избранные остановки</h3>
    <h3>Избранные маршруты</h3>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-danger">Выйти</button>
    </form>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>