<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment :: head">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{~/static/js/table.js}"></script>
<div class="container">

    <div th:replace="fragment :: nav"></div>

    <h1 th:text="${'Расписание для ' + transportName + ' №' + transportNumber}"></h1>
    <h3 th:text="${stopName}"></h3>
    <h3 th:text="${routeName}"></h3>

    <p style="display: none" id="t" th:utext="${timetable}"></p>

    <div id="timetable"></div>
    <script type="text/javascript">
        addTable("")
    </script>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
<!--TODO change behavior 'document.onload or etc.'-->
</body>
</html>