<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:include="fragment :: head">
</head>
<body>
<script th:src="@{~/static/js/table.js}"></script>
<div class="container">

    <div th:replace="fragment :: nav"></div>

    <p style="display: none" id="stopId" th:text="${stop.id}"></p>
    <h1 class="stop-name" th:text="${stop.name}"></h1>

    <div class="fav-button-container" id="buttonPlace">
        <button th:if="${!inFavorites}" th:onclick="'favorite(' + ${stop.id} + ', \'stop\');'" sec:authorize="isAuthenticated()" type="button" class="btn btn-warning fav-button">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> В избранное
        </button>

        <button th:if="${inFavorites}" th:onclick="'unfavorite(' + ${stop.id} + ', \'stop\');'" sec:authorize="isAuthenticated()" type="button" class="btn btn-danger fav-button ">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Убрать из избранного
        </button>
    </div>


    <div th:each="rs : ${rStops}">
        <h3 th:text="${'Расписание для ' + rs.route.transport.type.name + ' №' + rs.route.transport.routeNumber}"></h3>
        <h5 th:text="${rs.route.name}"></h5>

        <p style="display: none" th:id="t + ${rs.routeStopId}" id="t" th:utext="${rs.timetable}"></p>

        <div id="timetable" th:id="timetable + ${rs.routeStopId}"></div>
        <script type="text/javascript" th:text="'addTable(' + ${rs.routeStopId} + ')'">

        </script>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>