<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:include="fragment :: head">
</head>
<body>

<div class="container">

    <div th:replace="fragment :: nav"></div>

    <h1  class="stopDTO-name" th:text="${'Маршруты для ' + transportDTO.type.name + 'а №' + transportDTO.routeNumber}"></h1>

    <p style="display: none" id="id" th:text="${transportDTO.id}"></p>


    <div class="fav-button-container" id="buttonPlace">
        <button th:if="${!inFavorites}" th:onclick="'favorite(' + ${transportDTO.id} + ', \'transportDTO\');'" sec:authorize="isAuthenticated()" type="button" class="btn btn-warning fav-button">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> В избранное
        </button>

        <button th:if="${inFavorites}" th:onclick="'unfavorite(' + ${transportDTO.id} + ', \'transportDTO\');'" sec:authorize="isAuthenticated()" type="button" class="btn btn-danger fav-button ">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Убрать из избранного
        </button>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2 class="transportDTO-type" th:text="${route1Name}">СШ 13 -- СШ 13</h2>
            <h3 th:each="routeStop : ${routeStops1}">
                <a href="#" th:href="@{/stopDTO/{stopId}/{routeId}(stopId = ${routeStop.stopDTO.id}, routeId = ${routeStop.routeDTO.routeId})}" th:text="${routeStop.stopDTO.name}">1</a>
            </h3>

        </div>
        <div class="col-sm-6">
            <h2 class="transportDTO-type" th:text="${route2Name}">СШ 13 -- СШ 13</h2>
            <h3 th:each="routeStop : ${routeStops2}">
                <a href="#" th:href="@{/stopDTO/{stopId}/{routeId}(stopId = ${routeStop.stopDTO.id}, routeId = ${routeStop.routeDTO.routeId})}" th:text="${routeStop.stopDTO.name}">12</a>
            </h3>

        </div>


    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../static/js/bootstrap.min.js"></script>
</div>
</body>
</html>