<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment :: head">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{~/static/js/table.js}"></script>
<div class="container">

    <div th:replace="fragment :: nav"></div>

    <h1><i class="fa fa-bus" aria-hidden="true"></i><span th:text="${' Расписание для ' + transportName + 'а №' + transportNumber}"></span></h1>
    <h5><i class="fa fa-clock-o" aria-hidden="true"></i><span> Осталось </span><span id="time"></span></h5>
    <h3><i class="fa fa-map-marker" aria-hidden="true"></i><span th:text="${' Остановка ' + stopDTO.name}"></span></h3>
    <h3><i class="fa fa-map-signs" aria-hidden="true"></i><span th:text="${' Направление ' + routeName}"></span></h3>

    <p style="display: none" id="t" th:utext="${timetable}"></p>

    <div id="timetable" class="table-responsive"></div>
    <script type="text/javascript">
        addTable("")
    </script>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/rotate.js"></script>
<!--TODO change behavior 'document.onload or etc.'-->
</body>
</html>