body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.transport-type {
    font-size:20px
}

@media (min-width: 768px) {

    .transport-type {
        font-size:36px
    }
}

.ostanovka_name {
    /*padding-top: 10px;*/
    padding-bottom: 10px;
}