body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.stop-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

.transport-type {
    font-size:20px
}

@media (min-width: 768px) {

    .transport-type {
        font-size:36px
    }
}

.ostanovka_name {
    padding-bottom: 10px;
}

.stop-name {
    display: inline-block;
    margin-right: 10px;
}

.fav-button {
    margin-top: -20px;
}

.fav-button-container {
    display: inline-block;
}